body {
  font-family: Georgia, serif;
  max-width: 850px;
  margin: 70px auto;
  padding: 0 20px;
  line-height: 1.8;
  font-size: 18px;
  color: #111;
}

nav {
  margin-bottom: 40px;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #000;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 28px;
  margin-top: 50px;
}

.pub {
  margin-bottom: 35px;
}

.links a {
  margin-right: 15px;
  font-size: 16px;
  text-decoration: underline;
}

.links {
  margin-top: 5px;
}
